[submodule "churn"]
	path = churn
	url = https://github.com/glyphh-ai/model-churn.git
[submodule "faq"]
	path = faq
	url = https://github.com/glyphh-ai/model-faq.git
[submodule "toolrouter"]
	path = toolrouter
	url = https://github.com/glyphh-ai/model-toolrouter.git
[submodule "bfcl"]
	path = bfcl
	url = https://github.com/glyphh-ai/model-bfcl.git
[submodule "pipedream"]
	path = pipedream
	url = https://github.com/glyphh-ai/model-pipedream.git
[submodule "iris"]
	path = iris
	url = https://github.com/glyphh-ai/model-iris.git
[submodule "marketing"]
	path = marketing
	url = https://github.com/glyphh-ai/model-marketing.git
